<!-- Top bar that shows income and  -->
<head>
    <link rel="stylesheet" href="css/expenses.css">
</head>


    <div id="income__bar">
        <div>
            <section id="total__spent">
                
                <!-- ======== Placeholder ======== -->
                <h3>Monthly Income: $$$$$</h1>
                <!-- ======== Placeholder ======== -->

            </section>
        </div>
    </div>

    <div id="container">
        <div id="expense__list">
            <h2 style="text-align: center">Expense Summary</h2>
            
            <!-- Section for chart display -->
            <section id="chart">
                
                <!-- ========== DEMO CHART ========== -->
                <img src="demo-piechart.png" id="demo-piechart">
                <!-- ========== DEMO CHART ========== -->

            </section>

            <!-- Section for text summary -->
            <section id="summary__text">
                
                <!-- ========== DEMO TEXT ========== -->
                <p> Bills: $$$$ <br>
                    Food: $$$ <br>
                    Other: $$$ <br>
                    Subscriptions: $$ <br>
                </p>
                <!-- ========== DEMO TEXT ========== -->

            </section>

        </div>

        <div id="expense__summary">

            <!-- Expense summary and add expense button -->
            <section id="list__title">
                <h2 style="text-align:center">Expense List</h2>
                <button id='addExpense' type="button" class="btn btn-custom">Add Expense</button>
            </section>
            
            <section id="expense__cards">
                
                {{!-- {{#each}} --}}

                <!-- ========== DEMO CARDS ========== -->
                {{!-- <p class="card">Demo Card #01: $$$</p>
                <p class="card">Demo Card #02: $$$</p>
                <p class="card">Demo Card #03: $$$</p>
                <p class="card">Demo Card #04: $$$</p>
                <p class="card">Demo Card #05: $$$</p>
                <p class="card">Demo Card #06: $$$</p>
                <p class="card">Demo Card #07: $$$</p>
                <p class="card">Demo Card #08: $$$</p>
                <p class="card">Demo Card #09: $$$</p>
                <p class="card">Demo Card #10: $$$</p>
                <p class="card">Demo Card #11: $$$</p>
                <p class="card">Demo Card #12: $$$</p>
                <p class="card">Demo Card #13: $$$</p>
                <p class="card">Demo Card #14: $$$</p>
                <p class="card">Demo Card #15: $$$</p> --}}
                <!-- ========== DEMO CARDS ========== -->

            </section>

        </div>
    </div>