<div class="forms">
        <div class="card-one">
            <form class="formOne" method="post">
                <h2>Create an Account</h2>
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>
            
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>
            
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            
                <input type="submit" value="Submit">
            </form>
        </div>
        
        <div class="card-two">
            <form class="formTwo" method="post">
                <h2>Login</h2>
                <label for="loginUsername">Username:</label>
                <input type="text" id="loginUsername" name="loginUsername" required>
        
                <label for="loginPassword">Password:</label>
                <input type="password" id="loginPassword" name="loginPassword" required>
        
                <input type="submit" value="Login">
            </form>
        </div>
        
        <div class="card-three" >
          <form class="formThree" method="post">
            <h2>Create an Account</h2>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>
        
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>
        
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        
            <input type="submit" value="Submit">
            <strong><hr></strong>
            <h2>Login</h2>
                <label for="loginUsername">Username:</label>
                <input type="text" id="loginUsername" name="loginUsername" required>
        
                <label for="loginPassword">Password:</label>
                <input type="password" id="loginPassword" name="loginPassword" required>
        
                <input type="submit" value="Login">
          </form>
        </div>
    
