{{!-- <style>
        .copyright {
            text-align: center;
            font-size: 14px;
            color: #888;
            margin-top: 20px;
        }
        .logo {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
        .company-name {
            font-weight: bold;
            color: #333;
        }
    </style> --}}
<h1>Welcome {{ first_name }} {{ last_name }}</h1>
<p>You are now a registered user with FINanace!</p><br>
<div class="copyright">
        <img src="/favicon.ico" alt="Company Logo" class="logo">
        <span class="company-name">FINance</span>
        &copy; 2024 All rights reserved.
    </div>
